{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LC Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/blog.css' %}"> 
    
    {% comment %}<script src="main.js"></script> {% endcomment %}
</head>

<body>
    <header>
        <nav>
            <a href="/">Main Blog Page</a>
           
            {% if user.is_authenticated %}
            |   <a href="{% url 'post_new' %}">Add a Blog Entry</a>
            {% endif %}
        </nav>
        <hr>

    </header>
    
     {% block content %}
     {% endblock %}
</body>

</html>